.card {
  background: #fff;
  padding: 20px 30px;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  cursor: pointer;
  p {
    color: #545f7d;
    font-weight: 500;
    font-size: 14px;
    margin: 12px 0;
    text-transform: uppercase;
  }
  h2{
    color: #213F7D;
    font-size: 24px;
    font-weight: 600;
  }
}
